@font-face {
    font-family: 'AcherusGrotesque';
    src: url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.eot');
    src: url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.woff2') format('woff2'),
         url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.woff') format('woff'),
         url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.ttf') format('truetype'),
         url('/fonts/acherus-grotesque/regular/acherus-grotesque-regular.svg#youworkforthem') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AcherusGrotesque';
    src: url('/fonts/acherus-grotesque/medium/acherus-grotesque-medium.eot');
    src: url('/fonts/acherus-grotesque/medium/acherus-grotesque-medium.eot?#iefix') format('embedded-opentype'),
             url('/fonts/acherus-grotesque/medium/acherus-grotesque-medium.woff2') format('woff2'),
         url(' /fonts/acherus-grotesque/medium/acherus-grotesque-medium.woff') format('woff'),
         url('/fonts/acherus-grotesque/medium/acherus-grotesque-medium.ttf') format('truetype'),
         url('/fonts/acherus-grotesque/medium/acherus-grotesque-medium.svg#youworkforthem') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AcherusGrotesque';
    src: url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.eot');
    src: url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.eot?#iefix') format('embedded-opentype'),
             url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.woff2') format('woff2'),
         url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.woff') format('woff'),
         url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.ttf') format('truetype'),
         url('/fonts/acherus-grotesque/bold/acherus-grotesque-bold.svg#youworkforthem') format('svg');
    font-weight: 600;
    font-style: normal;
}
