@import "vars";

$background-colour: #333;
$height: 150px;

body {
    margin-bottom: $height;
}

footer {
    width: 100%;
    background-color: $background-colour;
    position: absolute;
    left: 0;
    bottom: 0;
    height: $height;
}
